*~
*.tmproj
.dotest
/.emacs-project
/.redcar
config/database.yml
config/site.yml
config/deploy.rb
db/*.sqlite3
db/data.yml
db/schema.rb
log
nbproject
public/assets
tmp
vendor/plugins/query_trace/
rerun.txt
.idea
.rvmrc
.yardoc
tags
